body {
    font-family: 'Courier New', Courier, monospace;
    background-color: darkslategrey;
    color: white;
    height: 100vh;
}

.container {
    width: 100%;
    height:100%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 70px;
    background: rgba(red, green, blue, 0.75);
}