* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkslategrey;
    color: #dcdcdc;
    height: 100vh;
    overflow: hidden;
    line-height: 1.5;
}

.container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100px;
    background: rgba(15, 20, 30, 0.8);
    transition: height .5s;
}

.navbar-alt {
    height: 70px;
}

.navbar ul {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 0 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #dcdcdc;

}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    scroll-snap-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 15%;
}

section h1 {
    font-size: 3rem;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background: url('https://images.unsplash.com/photo-1480380799266-582d808d748a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
}

section#about {
    background: url('https://images.unsplash.com/photo-1523353407192-97338549b7ea?ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80') no-repeat center center/cover;
}

section#service {
    background: url('https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
}

section#contact {
    background: url('https://images.unsplash.com/photo-1466121239823-b0bdb9e64631?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover;
}

section a {
    margin-top: 2rem;
    padding: 0 15px 25px 15px;
}

section a span {
    display: block;
    width: 24px;
    height: 24px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    transform: rotate(-45deg);
    animation: scrl 2s infinite;
}

@keyframes scrl {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

::-webkit-scrollbar {
    display: none;
}